{% extends '::base.html.twig' %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block top_menu %}
    {{ parent() }}
        <div class="navigates-item">
            <a href="{{ path('disk_user_events') }}" class="navigates-link {% if(app.request.get('_route') == 'disk_user_events') %}active{% endif %}">Мои события</a>
        </div>
{% endblock %}
