<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Файлобменник</title>
    <title>Файлобменник. Ошибка: {{ status_text }}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/bundles/sitfiles//css/bootstrap.css">
    <link rel="stylesheet" href="/bundles/sitfiles//css/master.css">
    <link rel="stylesheet" href="/bundles/sitfiles//css/font-awesome.css">
    <link rel="stylesheet" href="/bundles/sitfiles/css/bootstrap-datetimepicker.min.css"/>

    <link rel="stylesheet" href="/bundles/sitfiles/css/jquery-ui/jquery-ui-1.10.4.min.css" />
    <link rel="stylesheet" href="/bundles/sitfiles/css/jstree/themes/default/style.min.css"/>
    <link rel="stylesheet" href="/bundles/sitfiles/css/scrollbar/jquery.mCustomScrollbar.css">
</head>
<body>

<div class="page-wraper">
    <div class="header">
        <div class="containers">
            <a href="/app_dev.php/" class="logo"><ins></ins></a>
        </div>
    </div>
    <!--Внимание этот блок нужен всегда после header-->
    <div class="header-after"></div>
    <!--Внимание этот блок нужен всегда после header-->


    <div class="disk-progress">
        <div class="disk-progress-line" style="width:100%;">
        </div>
    </div>

    <div class="containers">
       <h1>Страница не доступна. Статус({{ status_code }})</h1>
    </div>
</div>

<div class="footer">Copyright ОАО Татнефть</div>

</body>

</html>
