{% extends '::base.html.twig' %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block top_menu %}
    {{ parent() }}
    <div class="navigates-item">
        <a href="#" class="navigates-link active">Мой диск</a>
    </div>
    <div class="navigates-item">
        <a href="#" class="navigates-link"><span>Доступные файлы</span></a>
    </div>
{% endblock %}