{% extends '::base.html.twig' %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block top_menu %}
    {{ parent() }}
        <div class="navigates-item">
            <a href="{{ path('disk_admin_user') }}" class="navigates-link {% if(app.request.get('_route') == 'disk_admin_user') %}active{% endif %}">Пользователи</a>
        </div>
        <div class="navigates-item">
            <a href="{{ path('disk_admin_statistics_homepage') }}" class="navigates-link {% if(app.request.get('_route') == 'disk_admin_statistics_homepage') %}active{% endif %}">Статистика</a>
        </div>
{% endblock %}
