{% extends 'DiskUserBundle::layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="containers-full">
        <div class="page-h2">Мои события({{ pagination.getTotalItemCount }})</div>

        <table class="file-table">
            <thead>
            <tr>
                <td>Событие</td>
                <td>Дата</td>
            </tr>
            </thead>
            <tbody>
            {% for event in pagination %}
                <tr>
                    <td>{{ event.fullText }}</td>
                    <td>{{ event.createDate|date('d.m.Y H:i:s') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}
