{% extends '::base.html.twig' %}
{% form_theme edit_form 'DiskAdminBundle:Form:bootstrap_fields.html.twig' %}

{% block body -%}
    <h1>Редактирование пользователя</h1>

    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal', 'role': 'form'} }) }}
        {{ form_row(edit_form.surname) }}
        {{ form_row(edit_form.name) }}
        {{ form_row(edit_form.patronymic) }}
        {{ form_row(edit_form.locked) }}
        {{ form_row(edit_form.role_extended) }}
    {{ form_end(edit_form) }}

{% endblock %}
