{% extends 'DiskAdminBundle::layout.html.twig' %}

{% block body -%}
    <div class="containers-full">
        <div class="page-h2">Пользователи({{ pagination.getTotalItemCount }})</div >

        {{ form_start(form,{'attr': {'role': 'form', 'class' : 'form-inline'} } ) }}
        <div class="form-group">
            {{ form_widget(form.fio,{'attr': {'placeholder': 'Введите ФИО', 'class':'form-control' } }) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-default'} }) }}
        </div>
        {{ form_end(form) }}

        <br/>

        <table class="file-table">
            <thead>
            <tr>
                <th>ФИО</th>
                <th>Email</th>
                <th>Последняя авторизация</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>

            {% for entity in pagination %}
                <tr>
                    <td><a href="{{ path('disk_admin_user_show', { 'id': entity.id }) }}">{{ entity.surname }} {{ entity.name }} {{ entity.patronymic }}</a></td>
                    <td>{{ entity.email }}</td>
                    <td>{% if entity.lastLogin %}{{ entity.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('disk_admin_user_show', { 'id': entity.id }) }}">Просмотр</a>
                            </li>
                            <li>
                                <a href="{{ path('disk_admin_user_edit', { 'id': entity.id }) }}">Редактирование</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

    </div>



    {% endblock %}
