{% extends 'DiskAdminBundle::layout.html.twig' %}

{% block body -%}

<div class="containers-full">
    <div class="page-h2">{{ entity.surname }} {{ entity.name }} {{ entity.patronymic }}</div >

    <table class="file-table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Последняя авторизация</th>
                <td>{{ entity.lastLogin|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
