{% extends 'DiskMainBundle::layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Личный кабинет Файлобменника</h1>
    <p>{{ app.user.username }}</p>

    <a class="btn btn-info" href="{{ path('sit_files_my_files') }}">Мои Файлы</a>

    <h3>Папки с открытым доступом:</h3>
    {% if sharedFolders|length > 0 %}
        <table class="table">
            {% for sharedFolder in sharedFolders %}
                <tr>
                    <td><a class="btn btn-default" href="{{ path('sit_files_folder_list', {'id' : sharedFolder.id}) }}">{{ sharedFolder.name }}</a></td>

                    <td><ul>
                            {% for actionId, actionParams in sharedFolderActions[sharedFolder.id] %}
                                <li><a class="" href="{{ path(actionParams['route_name'], actionParams.route_params) }}">{{ actionParams.name }}</a></li>
                            {% endfor %}
                        </ul></td>

                </tr>
            {% endfor %}
        </table>
    {% else %}
        Нет папок
    {% endif %}

    <h3>Файлы с открытым доступом:</h3>
    {% if sharedFiles|length > 0 %}
        <table class="table">
            {% for sharedFiles in sharedFiles %}
                <tr>
                    <td><a class="btn btn-default" href="{{ path('sit_files_file_read', {'id' : sharedFiles.id}) }}">{{ sharedFiles.name }}</a></td>

                    <td>
                        <ul>
                            {% for actionId, actionParams in sharedFileActions[sharedFiles.id] %}
                                <li><a class="" href="{{ path(actionParams['route_name'], actionParams.route_params) }}">{{ actionParams.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </td>

                </tr>
            {% endfor %}
        </table>
    {% else %}
        Нет файлов
    {% endif %}

{% endblock %}