{% extends 'DiskAdminBundle::layout.html.twig' %}
{% block body -%}

<div class="containers-full">
    <div class="page-h2">Статистика</div>
    <p><b>Внутренних пользователей:</b> {{ allInnerUsersCount }}</p>
    <p><b>Внешних пользователей:</b> {{ allOuterUsersCount }}</p>
    <p><b>Активных пользователей:</b> {{ activeUsersCount }}</p>
    <p><b>Папок:</b> {{ foldersCount }}</p>
    <p><b>Файлов:</b> {{ filesCount }}</p>
    <p><b>Расшаренных файлов:</b> {{ sharedFilesCount + outeSharedFilesCount }}</p>
</div>
{% endblock %}
